/* basic css  */
* { padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
.mainCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 2px black;
    background-color: #eee;
}
.firstContainer,
.secondCont {
    display: grid;
    grid-template-columns: 45%;
    background-color: aliceblue;
    border: solid 2px gray;
    color: rgb(109, 109, 109);
    align-content: stretch;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
    border-radius: 20%;
    margin: 20px;
}

.firstContainer .submit input,
.secondCont .submit input {
    background-color: rgb(210, 217, 223);
    border: 5px solid rgba(225, 230, 210, 0.801);
}
.firstContainer .submit :hover,
.secondCont .submit :hover {
    background-color: #eeee;
}
.firstC .login {
    text-align: center;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* header */
.cart-icon {
    align-self: center;
    color: rgb(255, 0, 51);
}
.cart-icon:hover {
    color: rgb(202, 16, 53);
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* footer */
.facebook {
    color: rgb(32, 73, 255);
}

.twitter {
    color: rgb(0, 204, 255);
}

/* error */
.error-page{
 background-image: url(https://thumbs.dreamstime.com/b/error-web-page-concept-austronaut-open-space-different-palnets-comets-stars-space-ships-very-good-71821149.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
background-color:#111113 ;
background-position-y: -5rem;
 height: 90vh;

}
/* ProductImagePreview */

.product-slider {
    padding: 2rem 4rem;
   max-width: 50rem;
   min-width: 30rem;
}

.product-text-side {
    padding: 2rem;
    flex-wrap: wrap;
    max-width: 45rem;
}
.hr {
    height: 8px;
    border-radius: 50%;
}
.h2 {
    color: blue;
    font-weight: 700;
}
.h1 {
    font-weight: 700;
}
.product-status {
    font-size: 1.2rem;
    font-weight: 700;
    
}


/* stars */
.checked{
    color: #FFD700;
}

/* REVIEWS */
.reviews-page{
    height: 50rem;
    background-color: rgb(235, 235, 235);
  
}
.single-review{
    padding: 1rem 1.5rem  ;
    background-color:white ;
    min-width: 45rem;
   min-height: 8rem;
   border-radius: 2%;
   display: flex;  
   flex-wrap: wrap  ;


}
.review-img{
max-width:15rem;
max-height: 10rem;
}
.single-product-review-text{
    min-width:20rem;
}