#info {
    background-color: rgba(var(--bs-info-rgb), 0.2);
}
#success {
    background-color: rgba(var(--bs-success-rgb), 0.2);
}
#warning {
    background-color: rgba(var(--bs-warning-rgb), 0.2);
}
#danger {
    background-color: rgba(var(--bs-danger-rgb), 0.2);
}
