/* gerneral styles */
.h5 {
  margin: 1rem 0;
}
/* Add To cart btns */

/* Filer.js */
.formContainer {
  position: relative;
}
.filtersForm {
  padding: 2rem 1rem;
  position: sticky;
  top: 0;
}
.searchImput {
  margin: 0.2rem 0;
}
.filterBtns {
  border: none;
  background-color: white;
  text-align: start;
  padding: 0.2rem;
}
.filterBtns:hover {
  color: cornflowerblue;
}
.companySelect {
  margin: 1.5rem 0;
}
.filterColors {
  width: 18px;
  height: 18px;
  border: 0.2px solid;

  border-radius: 100%;
}
.filtersAll {
  background-color: rgb(255, 255, 255);
  border: none;
}
.filtersAll:hover {
  color: cornflowerblue;
}
.filtersWhite {
  background-color: rgb(255, 255, 255);
}
.filtersWhite:hover {
  background-color: rgb(234, 234, 240);
}
.filtersBlack {
  background-color: rgb(5, 5, 5);
}
.filtersBlack:hover {
  background-color: rgb(108, 108, 109);
}

.filtersGrey {
  background-color: rgb(158, 158, 158);
}
.filtersGrey:hover {
  background-color: rgb(196, 194, 194);
}
.filtersCheckBox {
  margin: 0 1rem;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* poductGridView */

.procutsGridView {
  display: grid;
  grid-template-columns: minmax(288px, 1fr) minmax(288px, 1fr) minmax(
      288px,
      1fr
    );
}
.productGridView {
  padding: 1.5rem;
  width: 18rem;
}
